.profiles {
  min-height: 100vh;
}
.profiles__body {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profiles__body > h1 {
  color: #fff;
  font-size: 3rem;
}
.profiles__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  max-width: 980px;
  margin-top: 40px;
}
.profiles__profile {
  position: relative;
  width: 165px;
  height: 165px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.profiles__avatarOpacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.profiles__profile > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 9px;
  z-index: 2;
}
.profiles__profile > h3 {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  color: #fff;
  opacity: 0.8;
}
